.slider{
height: 250px;
margin: auto;
position: relative;
width: 90;
display: grid;
place-items: center;
overflow: hidden;
}
.slide-track{
     display: flex;
     width: calc(250px* 18);
     animation-name: scroll  ;
     animation-duration: 25s;

     animation-iteration-count: infinite;
     animation-timing-function: linear;

}

@keyframes scroll{
    0%{ transform: translateX(-100px*5); -webkit-transform: translateX(-100px*5); -moz-transform: translateX(-100px*5); -ms-transform: translateX(-100px*5); -o-transform: translateX(-100px*5); }
    100%{ transform: translateX(calc(-250px*9)); -webkit-transform: translateX(calc(-250px*9)); -moz-transform: translateX(calc(-250px*20)); -ms-transform: translateX(calc(-250px*9)); -o-transform: translateX(calc(-250px*9)); }
}

.slide{
height: 200px;
width: 250px;
display: flex;
align-items: center;
padding: 15px;}

img {
width: 100% ;}